<% sdgs.forEach(function(sdg) { %>
	<label>
		<input type="checkbox" name="sdg">
		<img src="https://fdnd-agency.directus.app/assets/<%= sdg.icon %>" alt="<%= sdg.title %>" height="100px" width="100px">	
	</label>
<% }) %>

