<% sdgs.forEach(function(sdg) { %>
	<label>
		
		<img src="https://fdnd-agency.directus.app/assets/<%= sdg.icon %>" alt="<%= sdg.title %>" height="100px" width="100px">
        <input type="number" id="tentacles" name="tentacles" min="-5" max="5" name="score"/>
	</label>
<% }) %>