<%- include('./partials/head')%>

<header>
    <h1>home</h1>
</header>

<main>
    <% companies.forEach(function(company) { %>
<li><a href="./bedrijf/<%= company.id %>"> <%= company.name %></a></li>
<% }) %>
</main>

<footer>

</footer>

<%- include('./partials/foot')%>