<%- include('./partials/head')%>
<nav>
    <%- include('partials/navigatie', {current: '/klanten'}); %>
</nav>

<header>
    <h1>Klanten</h1>
</header>

<aside>

</aside>
<%- include('./partials/foot')%>